{{extend 'layout.html'}}

{{tdy=TODAY_DATE}}
{{early=EARLYBIRD_DATE}}
{{pre=PRECONF_DATE}}
{{msg='Onsite - register here, pay at the Registration Desk.'}}
{{if tdy<early:}}
  {{remains=early-tdy}}
  {{if remains.days>1:}}
    {{msg=str(remains.days)+' days left for early-bird rates'}}
  {{elif remains.days>0:}}
    {{msg=str(remains.days)+' day left for early-bird rates'}}
  {{else:}}
    {{msg='Last day for early-bird rates! - %2dh:%02dm remains' % (remains.seconds/60/60,remains.seconds/60%60)}}
  {{pass}}

{{elif tdy<pre:}}
  {{remains=pre-tdy}}
  {{if remains.days>1:}}
    {{msg=str(remains.days)+' days left for pre-conference rates'}}
  {{elif remains.days>0:}}
    {{msg=str(remains.days)+' day left for pre-conference rates'}}
  {{else:}}
    {{msg='Last day for pre-conference rates! - %2dh:%02dm remains' % (remains.seconds/60/60,remains.seconds/60%60)}}
  {{pass}}
{{pass}}

<div class="frame">
<h2>Welcome</h2>
<p>
{{=A('The Python Software Foundation', _href='http://www.python.org/psf/')}}
is proud to present the annual US Python community conference,
{{=A('PyCon 2009', _href='http://us.pycon.org/2009/')}}
in {{=A('Chicago', _href='http://www.explorechicago.org/city/en.html')}}
at the {{=A('Hyatt Regency O\'Hare', _href='https://www.cteusa.com/pycon2/')}} hotel.
</p>
<h3>Here you can</h3>
<ul>
<li><a href="{{=t2.action('register')}}">Register:</a> Register for the conference <font color='green'><i>({{=msg}})</i></font></li>
<li><a href="{{=t2.action('attendees')}}">Attendees:</a> Check out who else is coming and <a href="{{=t2.action('maps')}}">from where</a></li>
<li><a href="{{=t2.action('pay')}}">Pay:</a> Check your balance, register and pay for another attendees</li>
</ul>
<p>
<table border="0" align="center">
<tr>
<td>{{=A('Tutorials:', _href='http://us.pycon.org/2009/tutorials/')}}</td>
<td>Wednesday March 25 & Thursday March 26, 2009</td>
</tr><tr>
<td>{{=A('Conference:', _href='http://us.pycon.org/2009/conference/')}}</td>
<td>Friday, March 27 to Sunday, March 29</td>
</tr><tr>
<td>{{=A('Sprints:', _href='http://us.pycon.org/2009/sprints/')}}</td>
<td>Sunday, March 29 to Thursday, April 2, 2009</td>
</tr>
</table>
</p>
<p>
Developed in collaboration with Doug Napoleone, Carl Karsten, Yarko Tymciurak, Massimo DiPierro, and others.
</p>
</div>
