<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates, modified by Massimo Di Pierro
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Flavour
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20080425
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{=response.title or URL(r=request)}}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{{=response.keywords}}" />
<meta name="description" content="{{=response.description}}" />
<link rel="icon" href="{{=URL(r=request,c='static',f='favicon.ico')}}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{=URL(r=request,c='static',f='style.css')}}" />
{{include 'web2py_ajax.html'}}
<script src="{{=URL(r=request,c='static',f='scripts/sfmenu.js')}}"></script>
<script src="{{=URL(r=request,c='static',f='scripts/jquery.dimensions.js')}}"></script><script src="{{=URL(r=request,c='static',f='scripts/jqueryMultiSelect.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=URL(r=request,c='static',f='scripts/jqueryMultiSelect.css')}}" />
<script>
$(document).ready(function() { $('.sf-menu').superfish({ animation: {height:'show'}, delay:500 }); 
$('#auth_user_tutorials').multiSelect({selectAll: false});
});
</script>
</head>
<body>
<div id="header">
  <div id="logo">
    <img alt="logo" src="{{=URL(r=request,c='static',f='logo.png')}}"/>
    <h1>{{=response.title}}</h1>
    <p>Festival latinoamericano de Instalación de Software Libre</p>
  </div>
  <div id="search">
    <form method="get" action="http://www.google.com/search">
      <fieldset>
        <input id="search-text" type="text" name="as_q" value="" size="15"/>
        <input type="hidden" name="as_sitesearch" value="{{=request.env.http_host}}">
        <input type="submit" id="search-submit" value="Search" />
      </fieldset>
      <span style="color: #ffffff; font-size: smaller;">{{=T("Language")}}: <a href="?lang=es" style="color: #ffffff; font-size: smaller;">Español</a>, <a href="?lang=pt" style="color: #ffffff; font-size: smaller;">Português</a>, <a href="?lang=en" style="color: #ffffff; font-size: smaller">English</a></a>
    </form>
  </div>
</div>
<div id="menu">
  {{=t2.menu(response.menu)}}
</div>
<div id="page">
  <div id="content">
    {{
try:
   if not response.flash and form.errors:
       response.flash=T("There are errors in your form below")
   pass
except: pass
    }}
    {{if response.flash:}}<div class="flash">{{=response.flash}}</div>{{pass}}
    {{if auth.user:}}<h3>{{=T('Hello')}} {{=auth.user.first_name}}
    {{if session.manager:}} (manager){{pass}}
    {{if session.balance is not None and session.balance>0 and not request.function=='pay':}}, {{=T('You have not paid for your registration; the cost is')}} ${{=T('%0.2f' % session.balance)}} [{{=A(T('pay now'),_href=t2.action('pay'))}}]
    {{elif session.balance is not None and session.balance<0 and not request.function=='pay':}}, {{=T('You have a credit of')}} ${{=T('%0.2f' % -session.balance)}} [{{=A(T('info'),_href=t2.action('pay'))}}]{{pass}}</h3>{{pass}}
    {{include}}
    <br/><div class="frame"><h2>{{=T("About")}} {{=response.title}}</h2>{{=XML(response.footer)}}</div>
  </div>
  {{if response.sidebar:}}
  <div id="sidebar">  
    <ul>
      {{for _i in response.sidebar or []:}}
      <li>
         <h2>{{=_i[0]}}</h2>
         {{if isinstance(_i[1],list):}}
         <ul>
           {{for _j in _i[1]:}}
           <li>{{=A(_j[0],_href=_j[1])}}</li>
           {{pass}}
         </ul>
         {{else:}}
         <p>{{=_i[1]}}</p>
         {{pass}}
      </li>
      {{pass}}
    </ul>
  </div>
  {{pass}}
  <div style="clear: both;">&nbsp;</div>
  </div>
  <div id="footer">
    <p><a href="http://www.web2py.com.ar"><img src="{{=URL(r=request,c='static',f='media/web2py_powered.png')}}" /></a></p>
  </div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15712735-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
