<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates, modified by Massimo Di Pierro
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Flavour
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20080425
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{=response.title or URL(r=request)}}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{{=response.keywords}}" />
<meta name="description" content="{{=response.description}}" />
<link rel="icon" href="{{=URL(r=request,c='static',f='img/favicon.ico')}}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{=URL(r=request,c='static',f='style.css')}}" />
{{include 'web2py_ajax.html'}}
<script src="{{=URL(r=request,c='static',f='scripts/sfmenu.js')}}"></script>
<script src="{{=URL(r=request,c='static',f='scripts/jquery.dimensions.js')}}"></script><script src="{{=URL(r=request,c='static',f='scripts/jqueryMultiSelect.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=URL(r=request,c='static',f='scripts/jqueryMultiSelect.css')}}" />
<script>
$(document).ready(function() { $('.sf-menu').superfish({ animation: {height:'show'}, delay:500 }); 
$('#auth_user_tutorials').multiSelect({selectAll: false});
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16917008-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="header">
  <div id="header-container"> 
  <div id="logo"> 
  <img src="{{=URL(r=request,c='static',f='img/masthead5.gif')}}" border="0">
  <h1>PyCon Argentina 2012</h1>
  <h2>Buenos Aires, Septiembre 2012</h2>
  </div>
  <!--
  <div id="search"> 
    <form method="get" action="http://www.google.com/search"> 
      <fieldset> 
        <input id="search-text" type="text" name="as_q" value="" size="15"/> 
        <input type="hidden" name="as_sitesearch" value="us.pycon.org"> 
        <input type="submit" id="search-submit" value="Search" /> 
      </fieldset> 
      <span style="color: #ffffff;">{{=T("Language")}}: <a href="?lang=es" style="color: #ffffff;">Español</a> - <a href="?lang=en" style="color: #ffffff;">English</a></a>
    </form> 
  </div>
  --> 

            
  </div> 
</div>
<div id="menu">
  <div id="menu-container">
  {{=MENU(response.menu, _class = 'sf-menu')}}
  </div>
</div>
<div id="page">
  <div id="content">
    <!-- AddToAny BEGIN -->
    <div style="float:right; padding-top:6px;" class="a2a_kit a2a_default_style">
    <a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a></div>
    <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    {{
try:
   if not response.flash and form.errors:
       response.flash=T("There are errors in your form below")
   pass
except: pass
    }}
    {{if response.flash:}}<div class="flash">{{=response.flash}}</div>{{pass}}
    {{if auth.user:}}<h3>{{=T('Hello')}} {{=auth.user.first_name}}
    {{if auth.has_membership('manager'):}} (manager){{pass}}
    {{if session.balance is not None and session.balance>0 and not request.function=='pay':}}, {{=T('You have not paid for your registration; the cost is')}} ${{=T('%0.2f' % session.balance)}} [{{=A(T('pay now'),_href=URL(r=request,c='payment',f='pay'))}}]
    {{elif session.balance is not None and session.balance<0 and not request.function=='pay':}}, {{=T('You have a credit of')}} ${{=T('%0.2f' % -session.balance)}} [{{=A(T('info'),_href=URL(r=request,c='payment',f='pay'))}}]{{pass}}</h3>{{pass}}
    {{include}}
    <br/><div class="frame"><h2>{{=T('About')}} {{=response.title}}</h2>{{=XML(response.footer)}}</div>
  </div>
  {{if response.sidebar:}}
  <div id="sidebar">  
    <ul>
      {{for _i in response.sidebar or []:}}
      <li>
         <h2>{{=_i[0]}}</h2>
         {{if isinstance(_i[1],list):}}
         <ul>
           {{for _j in _i[1]:}}
           <li>{{=A(_j[0],_href=_j[1])}}</li>
           {{pass}}
         </ul>
         {{else:}}
         <p>{{=_i[1]}}</p>
         {{pass}}
      </li>
      {{pass}}
    </ul>
  </div>
  {{pass}}
  {{if response.sponsors:}}
  <div id="sidebar">  
    <ul>
      {{for sponsor_level in SPONSOR_LEVELS: }}
      <li>
         <h2>{{=T(sponsor_level)}}</h2>
         <ul>   
         {{for sponsor in response.sponsors.get(sponsor_level,[]): }}
            <li>
              <p>{{=A(IMG(_alt=sponsor.alt,_src=URL(r=request, c='default', f='fast_download', args=sponsor.logo),_border='0'),_href=sponsor.url,_title='%s (%s)' % (sponsor.alt, T(sponsor_level)))}}</p>
            </li>
          {{pass}}
        </ul>
      </li>
      {{pass}}
    </ul>
  </div>
  {{pass}}
  <div style="clear: both;">&nbsp;</div>
  </div>


  <div id="footer">
    <h2 align="center"><a href="http://www.web2py.com.ar"><img alt="web2py" src="{{=URL(r=request,c='static',f='media/web2py_logor.png')}}" border="0" />&nbsp&nbsp<sup>POWERED</sup></a></h2>
  </div>
</body>
</html>
