{{extend 'layout.html'}}
{{if form and format=='HTML':}}
<script type="text/javascript" src="{{=URL(request.application,'static/plugin_flatpages','wysihtml5-0.3.0_rc2.min.js')}}"></script>
<script type="text/javascript" src="{{=URL(request.application,'static/plugin_flatpages','bootstrap-wysihtml5-0.0.2.min.js')}}"></script>
<link rel="stylesheet" media="screen,projection" type="text/css" href="{{=URL(request.application,'static/plugin_flatpages','bootstrap-wysihtml5-0.0.2.css')}}" />
<script type="text/javascript">
$(function()
  {
      $('#wysiwyg').wysihtml5();
  });
</script>
{{pass}}
<div class="frame">
{{=body}}
</div>
{{if form:}}
{{=form}}
{{pass}}

  
