{{extend 'layout.html'}}
<script type="text/javascript" src="{{=URL(request.application,'static/plugin_flatpages','jquery.wysiwyg.js')}}"></script>
<script type="text/javascript" src="{{=URL(request.application,'static/plugin_flatpages','wysihtml5-0.3.0_rc2.min.js')}}"></script>
<script type="text/javascript" src="{{=URL(request.application,'static/plugin_flatpages','bootstrap-wysihtml5-0.0.2.min.js')}}"></script>
<link rel="stylesheet" media="screen,projection" type="text/css" href="{{=URL(request.application,'static/plugin_flatpages','bootstrap-wysihtml5-0.0.2.css')}}" />
<script type="text/javascript">
$(function()
  {
      $('#wysiwyg').wysihtml5();
  });
</script>

<div class="frame">
<h2>{{=T('Submit a Activity Proposal')}}</h2>
{{if TODAY_DATE<PROPOSALS_DEADLINE_DATE:}}
{{=form}}
<script>
   jQuery('#activity_type').change(function(){
        var t = jQuery('#activity_type').val();
        var d = {{=XML(repr(dict([(str(T(k)), v) for k, v in ACTIVITY_DURATION.items()])))}};
        jQuery('#activity_duration').val("");
        jQuery('#activity_duration').val(d[t]);
        });
</script>
{{else:}}
<h3>El período de propuestas de actividades finalizado el {{=PROPOSALS_DEADLINE_DATE}}</h3>
<h3>¡Los eseperamos en el evento!</h3>
{{pass}}
</div>
