{{extend 'layout.html'}}

<div class="frame">
<h1>{{=T('Proposed Activities')}}</h1>

{{for activity_type in ACTIVITY_TYPES:}}
<h2>{{=T(activity_type)}}</h2>
<ul>
{{for activity in [act for act in activities if act.type == activity_type]:}}
{{review = reviews.get(activity.id)}}
{{=LI(T(activity.status),' ',A(activity.title,_href=URL(r=request,f='display',args=activity.id)),
      " (%s) " % activity.authors if auth.has_membership(role='reviewer') else '',
      review and I(" %s " % T("review:"),
          A(review.rating, 
           _href=URL(r=request,f='review',args=activity.id), 
           _title=review.body))  or '',  
          activity.confirmed and " (%s) " % T("confirmed") or "",
      )}}
{{pass}}
</ul>
{{pass}}
</div>

{{if not activities:}}
No talks proposed yet
{{pass}}
