{{extend 'layout.html'}}

{{ if ALLOW_VOTE: }}
<div class="frame">
<h2>{{=T('Voting')}}</h2>

<p style="text-align: center">
{{=T('Level')}} (Orientativo): 
{{for level in ACTIVITY_LEVELS:}}
<span>{{=levels[level]}} {{=T(level)}}&nbsp;&nbsp;</span>
{{pass}}
</p>
<p>
Seleccione su preferencia de actividades para la organización del evento. <br/>
Dado que el proceso de selección no ha finalizado, algunas charlas no estarán disponibles en el cronograma final.
Las actividades pueden variar sin previo aviso. Listado en orden aleatorio.
</p>

{{=form}}

</div>

{{ else: }}
  {{ =P(EM(T("Voting is not allowed yet"))) }}
{{ pass }}
