{{extend 'layout.html'}}
<div class="frame">
<a href="/2012/sponsors/prospectus/" class="btn-sponsor"><span>{{=XML(T("Learn how to<br>become a <b>sponsor</b>"))}}</span></a>
<h1>{{=T("Sponsors")}}</h1>
<p><br/></p>
<hr/>
{{for sponsor_level in SPONSOR_LEVELS: }}
{{for sponsor in sorted([sponsor for sponsor in sponsors_detail if sponsor.level==sponsor_level], key=lambda x: x.number):}}
{{=A(IMG(_alt=sponsor.alt,_src=URL(r=request, c='default', f='fast_download', args=sponsor.image),_border='0', _style="margin-left: 10px; margin-right: 10px; margin-top: 3px; margin-bottom: 10px; float: right; "),_href=sponsor.url,_title='%s (%s)' % (sponsor.alt, T(sponsor.level)))}}
<h3 id="{{=sponsor.id}}">{{=sponsor.alt}}<a class="headerlink" href="#{{=sponsor.id}}" title="Permanent link">¶</a></h3>
<h4>{{=sponsor_level}}</h4>
<h4>{{=A(sponsor.url,_href=sponsor.url)}}</h4>
<p>{{=MARKMIN(sponsor.text)}}</p>
<hr/>
{{pass}}
{{pass}}
</div>
