{{extend 'layout.html'}}

{{def tdif(t):}}
  {{hours=t.seconds/3600}}
  {{=T("%(days)s days, %(hours)s hours, %(minutes)s minutes") % dict(hours=t.seconds/3600, days=t.days, minutes=(t.seconds/60 - hours*60))}}
{{pass}}
<div class="frame">
<h1>{{=T('Conference events')}}</h1>

{{=DIV(table, _style="overflow: auto;width: 100%;")}}

<ul>
{{for event in events:}}
  <li>
    {{if event.url:}}
      {{=H3(A(event.title, _href=event.url, _id=event.id ))}}
    {{else:}}
      {{=H3(event.title)}}
      {{if is_manager:}}
        {{=A("Edit this event", _href=URL(c="manage", f="event", args=["event", event.id]))}}
      {{pass}}
    {{pass}}
    {{if not event.body in (None, ""):}}
    
      {{=HR()}}
      {{=MARKMIN(event.body)}}
      {{=HR()}}
    {{pass}}
    <span>{{=T("Start time")}} {{=event.starts}}</span>
    <br />
    <span>{{=T("End time")}} {{=event.ends}}</span>
    <br />
    {{if event.ends > request.now and event.starts <= request.now:}}
      <h5>{{=T("Time left")}}: {{tdif(event.ends -request.now)}}</h5>
    {{pass}}
    {{if event.starts > request.now:}}
      <h5>{{=T("Starts in")}} {{tdif(event.starts -request.now)}}</h5>
    {{pass}}
    {{=BR()}}
  </li>
{{pass}}
<ul>
</div>
