/*
rojo #7E0E10
azul #052446
azul claro #055b8e
beige #cabe57
beige claro (letra) #c7c68d
*/

@font-face {
    font-family: 'LullabyRegular';
    src: url('fonts/lullaby-webfont.eot');
    src: url('fonts/lullaby-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lullaby-webfont.woff') format('woff'),
         url('fonts/lullaby-webfont.ttf') format('truetype'),
         url('fonts/lullaby-webfont.svg#LullabyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

BODY
{
    margin: 0;
    <-family:  Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
    color: #c7c68d;
    background: #052446;/*url(media/img01.jpg) repeat-x left top;*/
}
H1, H2, H3
{
    /* margin: 0;*/
    font-family: Georgia, "Times New Roman", Times, serif;
    /*padding: 10px 0; */
    color: #aeab35;
}
H1
{
    font-size: 2.2em;
}
H2
{
    font-size: 1.4em;
}
H3
{
    font-size: 1.2em;
}
H4
{
    font-size: 1em;
}
P, UL, li, OL
{
    /*margin: 0;
    padding:  0 ; */
    line-height: 110%;
    /*list-style: none;*/
}
UL, OL
{
    padding: 0 0 0 15px;
}
A
{
    text-decoration: none;
    color: #cabe57;
    font-weight: normal;
    text-decoration: underline;
}
A:hover
{
    background: none;
}
/*Header

#header { width: 1680px; height: 198px; margin: 0 auto; }
*/
#header-container
{
    margin: 0 auto;
    text-align: left;
    width: 960px;
    height: 290px;
    background: url(img/header.png) no-repeat;
}
#header
{
    margin: 0 auto;
    padding: 0;
    /*background-color: #369;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-origin: initial;
    background-clip: initial;*/
}

#header H1
{
    float: left;
    /*clear: both;*/
    margin: 122px 0 0 195px;
    padding: 0;
    font-size: 1em;
    line-height: 18pt;
    font-weight: normal;
    color: #EEE;
    border: 0;
    outline: 0;
    vertical-align: text-top;
    background: url(img/H1_pycon_argentina.png) transparent no-repeat;
    display: block;
    width: 441px;
    height: 105px;
}
#header H1 a {
    display: block;
    width: 441px;
    height: 105px;
    text-indent: -9999px;
}
#header H2
{
    float: right;
    clear: both;
    margin: 28px 0 0;
    padding: 0;
    font-size: 17px;
    line-height: 16pt;
    border: 0;
    outline: 0;
    vertical-align:
    text-top;
    background: transparent;
    display: block;
    font-weight: bold;
    letter-spacing: 0;
    font-family: LullabyRegular;
    /*font-size: 2.2em;*/

}
#header_side {
    width: 190px;
    height: 140px;
    float: right;
    margin: 100px 130px 0 0;
}
.idioma {
    float: right;
    clear: both;
    margin: 0;
    font-weight: normal;
    font-size: 0.8em;
}

.idioma a, .auth_navbar a {
}

/*Logo
#logo
{
    /* float: left; 
    /*width: 650px;
    /*width: 950px;
    margin: 0 auto;
    padding: 0 38px 0 0;
    color: #000000;
    font-weight: bold;
    height:94px;
    /*+placement:shift;
    /*position: relative;
    /*position: absolute;
    top: 2;
}
#logo IMG
{
    height: 78px;
    width: 60px;
    padding: 4px 12px;
    float: left;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: text-top;
    background: transparent;
}

/* 
#logo A
{
    background: none;
    text-decoration: none;
    color: #fff;
}*/

/*Search*/
#search
{
    padding: 50px 0 0 0;
    margin: auto;
    text-align: right;
    width: 220px;
    float: right;
    margin: 0 0 10px;
    background: url(img/sidebar_search.png) no-repeat top center;
}
#search FORM
{
    clear: none;
    margin: 0; 
    padding: 0 10px 0;
    /*width: 160px;
    height: 41px;
    margin: 0;
    padding: 15px 0 0 10px;
    placement:shift -175px -20px;
    position: relative;*/
}
#search FIELDSET
{
    margin: 0;
    padding: 0;
    border: none;
    display: inline;
}
#search-text
{
    outline: none;
    border: none;
    text-transform: lowercase;

    border: 1px solid #FFFFFF;
    padding: 1px;
    font: bold 0.75em Helvetica, sans-serif;
    color: #5C5C5C;
    display: inline;
    width: 195px;
}
#search-submit
{
    display: inline;
}

#account-bar {
    /*position: relative;
    top: 0px;
    right: 0px;*/
    float: right;
    text-shadow: none;
    color: #FFF;
    font-size: 0.90em;
    padding: 0;
    color: #FFF;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    
}
#account-bar a, #account-bar a:visited {
    text-decoration: none;
    color: #BBB;
}
#account-bar a:hover {
    color: #FFF;
}

.auth_navbar {
    float: right;
    clear: both;
    width: 145px;
    height: 40px;
    text-align: right;
}

/*Menu*/
#menu
{
    width: 680px;
    height: 30px;
    margin: 3px auto 0;
    /*background-color: #000033;*/
    text-align: center;
  float: left;
  padding: 0 140px;
}
#menu-container
{
    float: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
}
#menu UL
{
    list-style: none;
    line-height: normal;
    /*[empty]background-color:;*/
}
#menu LI
{
    float: left;
    /*width: 100px;
    height: 30px;*/
    /*font-size: 0.8em;*/
}
#menu A
{
    padding: 5px 12px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 0.8em;
    font-weight: lighter;
    color: #FFFFFF;
}
#menu A:hover, #menu .current_page_item A
{
    /*background-color: #5AE;
    opacity: 0.90;*/
    color: #7E0E10;
}
/*Page*/
#page
{
    width: 960px;
    margin: 0 auto;
    min-height: 930px;
    padding: 0;
    background: url(img/page_bg.png) repeat-y #7e0e10;
}
/*Content*/
#content
{
    float: left;
    width: 580px;
    padding: 0;
    margin: 0 0 0 60px;
}
.frame
{
    margin: 0;
    color: #c7c68d;
    padding: 0;
}

.frame h1 {
    /*background: url(img/H2_conectando_comunidad_python.png) no-repeat;*/
    font-family: LullabyRegular;
    display: block;
    width: 580px;
    height: auto;
    margin: 0 0 20px;
    font-size: 2.2em;
}

.frame h3 {
    font-size: 1.2em;
}

.frame img {
    background: withe;
    border: solid 1px #605E1D;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.frame table tbody tr td img {
    background: withe;
    border: solid 1px #605E1D;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.Apple-style-span{
    display: none;
}
.frame .title
{
    padding: 15px 0 5px 20px;
    color: #5C5C5C;
}
.frame .title A
{
    background: none;
    color: #5C5C5C;
}
.frame .meta
{
    padding: 2px 20px;
    border-top: 1px dashed #D2D4C9;
    border-bottom: 1px dashed #D2D4C9;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 9px;
}
.frame .entry
{
    padding: 20px;
    text-align: justify;
}
.frame .indented
{
    padding-left: 50pt;
    padding-right: 50pt;
}
.frame iframe {
    width: 580px;
    margin: 30px 0;
}
.w2p_fw textarea {
    width: 370px;   
}
.w2p_fw {
    width: 100%;
}
/*blog post*/
hr {
    color: #cabe57;
}
/*#c741007844535 h3 {
    background: url(img/H3_blog_posts.png) no-repeat;
    font-family: LullabyRegular, Georgia, "Times New Roman", Times, serif;
    height: 60px;
    color: #7E0E10;
    text-align: center;
    font-size: 2em;
}
#c741007844535 ul {
    background: url(img/UL_blog_posts.png) no-repeat;
    width: 580px;
    height: 139px;  
}*/

/*Sidebar*/
#sidebar
{
    float: right;
    width: 220px;
    /*height: 658px;*/
    margin: 0 20px 0 0;
    padding: 0;
    color: #787878;
    text-align: center;
    font-size: 0.8em;
}
#sidebar UL {
    background: url(img/sidebar_bg.png) repeat-y;
    list-style-type:none;
    margin: 0;
    padding: 0;
}
#sidebar UL:first-child
{
    margin: 0;
    padding: 20px 0 0;
    list-style: none;
    line-height: 150%;
    background: url(img/sidebar_head.png) top center no-repeat;
}

#sidebar h2 {
    background: url(img/sidebar_bg.png) repeat-y;
    font-size: 1.4em;
    font-weight: normal;
    color: #7E0E10;
    margin: 0;
    padding: 10px 0;
}

#sidebar P
{
    margin: 0;
    padding: 0;
    list-style: none;
}


TABLE TR TD
{
    text-align: left;
    vertical-align: top;
}
TABLE TR TD div {
    margin: 5px;
    max-width: 510px;
}
#calendar
{
}
#calendar_wrap
{
    padding: 20px;
}
#calendar TABLE
{
    width: 100%;
}
#calendar TBODY TD
{
    text-align: center;
}
#calendar #next
{
    text-align: right;
}


/*******************************************************************/
#user_menu {
    background: #aeab35;
    width: 220px;
    display: block;
    float: right;
    margin: 0 20px 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px #e4e3c3 inset, -1px -2px 2px #464415 inset;
}
#user_menu ul {
   list-style: none;
}

#user_menu h2 {
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #7E0E10;
    /*background: url(img/user_menu_head.png) no-repeat;*/
}
#user_menu li:last-child {
   /* background: url(img/user_menu_foot.png) no-repeat;*/
}
#user_menu a {
    margin: 0;
    color: #052446;
}
#user_menu ul:first-child {
    padding: 0 0 20px;
    width: 210px;
    height: 95%;
    margin: 5px;
    background: #cabe57;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 1px 2px 2px #e4e3c3, -1px -2px 2px #464415;
}
/*******************************************************************/
#social {
    background: url(img/social_bg.png) no-repeat;
    width: 220px;
    height: 166px;
    display: block;
    float: right;
    margin: 0;
}
#social h2 {
    font-size: 1em;
    margin: 10px 0;
    color: #7E0E10;
    background: none;
}
#social a {
    margin: 0 10px;
    color: #FFFFFF;
}
#social img {
    width: 54px;
    background: none;
    margin: 0;
    padding: 0;
}

/*Footer*/
#footer
{
    width: 960px;
    height: 130px;
    margin: 0 auto;
    padding: 0;
    background: #052446 url(img/footer_bg.png) center top no-repeat;
    font-family: Helvetica, sans-serif;
    color: #416110;
    text-align: right;
}
#footer H2, #footer H3
{
    font-size: 0.9em;
    padding: 0 20px 0 0;
    margin: 0;

}

#footer h2 {
    padding: 60px 20px 0 0;
}

#footer P
{
    margin: 0;
    line-height: normal;
    text-align: center;
}
#footer A
{
    color: #FFFFFF;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}
.flash
{
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px solid #000000;
    color: #000000;
    font-size: 12pt;
    padding: 100px 10px 10px;
    cursor: pointer;
    background: #FFFFFF;
}
DIV.error
{
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 3px;
}
.tag_row
{
    height: 20px;
    padding: 5px;
}
.tag_col
{
    padding: 0px 5px 0px 0px;
}
.tag_on, .tag_on:hover
{
    color: #FFFFFF;
    background-color: #79A73B;
    padding: 5px;
}
.tag_off, .tag_off:hover
{
    color: #000000;
    background-color: #DDDDDD;
    padding: 5px;
}
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu *
{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.sf-menu
{
    line-height: 1;
}
.sf-menu UL
{
    position: absolute;
    top: -999em;
    width: 8em;
/*left offset of submenus need to match (see below)*/
}
.sf-menu UL LI
{
    width: 100%;
}
.sf-menu LI:hover
{
    visibility: inherit;
/*fixes IE7 'sticky bug'*/
}
.sf-menu LI
{
    float: left;
    position: relative;
}
.sf-menu A
{
    display: block;
    position: relative;
}
.sf-menu LI:hover UL, .sf-menu LI.sfHover UL
{
    left: 0;
    top: 2em;
/*match top ul list item height*/
    z-index: 99;
}
UL.sf-menu LI:hover LI UL, UL.sf-menu LI.sfHover LI UL
{
    top: -999em;
}
UL.sf-menu LI LI:hover UL, UL.sf-menu LI LI.sfHover UL
{
    left: 8em;
/*match ul width*/
    top: 0;
}
UL.sf-menu LI LI:hover LI UL, UL.sf-menu LI LI.sfHover LI UL
{
    top: -999em;
}
UL.sf-menu LI LI LI:hover UL, UL.sf-menu LI LI LI.sfHover UL
{
    left: 8em;
/*match ul width*/
    top: 0;
}
/*** DEMO SKIN ***/
.sf-menu
{
    float: left;
    
}
.sf-menu A
{
    padding: 0.2em 1em;
    text-decoration: none;
}
.sf-menu A, .sf-menu A:visited
{
/*visited pseudo selector so IE6 applies text colour*/
    color: #13A;
}
.sf-menu LI
{
    background: transparent;
}
.sf-menu LI LI
{
    background: #055b8e;
    /*border: 1px solid #5c5a1c;*/
    /*opacity: 0.8;*/
}
.sf-menu LI LI LI
{
    background: #055b8e;
    /*border: 1px solid #5c5a1c;*/
}
.sf-menu LI:hover, .sf-menu LI.sfHover, .sf-menu A:focus, .sf-menu A:hover, .sf-menu A:active
{
    /*background: transparent;*/
    color: #7E0E10;
}
/*** arrows **/
.sf-menu A.sf-with-ul
{
    #padding-right: 2.25em;
    #min-width: 1px;
    
/*trigger IE7 hasLayout so spans position accurately*/
}
.sf-sub-indicator
{
    position: absolute;
    display: block;
    right: 0.75em;
    top: 1.05em;
/*IE6 only*/
    width: 10px;
    height: 10px;
    text-indent: -999em;
    overflow: hidden;
    background: no-repeat -10px -100px;
/*8-bit indexed alpha png. IE6 gets solid image only*/
}
A>.sf-sub-indicator
{
/*give all except IE6 the correct values*/
    top: 0.8em;
    background-position: 0 -100px;
/*use translucent arrow for modern browsers*/
}
/*apply hovers to modern browsers*/
A:focus>.sf-sub-indicator, A:hover>.sf-sub-indicator, A:active>.sf-sub-indicator, LI:hover>A>.sf-sub-indicator, LI.sfHover>A>.sf-sub-indicator
{
    background-position: -10px -100px;
/*arrow hovers for modern browsers*/
}
/*point right for anchors in subs*/
.sf-menu UL .sf-sub-indicator
{
    background-position: -10px 0;
}
.sf-menu UL A>.sf-sub-indicator
{
    background-position: 0 0;
}
/*apply hovers to modern browsers*/
.sf-menu UL A:focus>.sf-sub-indicator, .sf-menu UL A:hover>.sf-sub-indicator, .sf-menu UL A:active>.sf-sub-indicator, .sf-menu UL LI:hover>A>.sf-sub-indicator, .sf-menu UL LI.sfHover>A>.sf-sub-indicator
{
    background-position: -10px 0;
/*arrow hovers for modern browsers*/
}
/*** shadows for all but IE6 ***/
.sf-shadow UL
{
    background: no-repeat bottom right;
    padding: 0 8px 9px 0;
    -moz-border-radius-bottomleft: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow UL.sf-shadow-off
{
    /*background: transparent;*/
}
/*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/
.sf-vertical, .sf-vertical LI
{
    width: 10em;
}
/*this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed*/
.sf-vertical LI:hover UL, .sf-vertical LI.sfHover UL
{
    left: 10em;
/*match ul width*/
    top: 0;
}
/*** alter arrow directions ***/
.sf-vertical .sf-sub-indicator
{
    background-position: -10px 0;
}
/*IE6 gets solid image only*/
.sf-vertical A>.sf-sub-indicator
{
    background-position: 0 0;
}
/*use translucent arrow for modern browsers
hover arrow direction for modern browsers*/
.sf-vertical A:focus>.sf-sub-indicator, .sf-vertical A:hover>.sf-sub-indicator, .sf-vertical A:active>.sf-sub-indicator, .sf-vertical LI:hover>A>.sf-sub-indicator, .sf-vertical LI.sfHover>A>.sf-sub-indicator
{
    background-position: -10px 0;
/*arrow hovers for modern browsers*/
}
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar
{
    background: #cabe57;
    height: 2.5em;
    padding-bottom: 2.5em;
    position: relative;
}
.sf-navbar LI
{
    background: #cabe57;
    position: static;
}
.sf-navbar A
{
    border-top: none;
}
.sf-navbar LI UL
{
    width: 44em;
/*IE6 soils itself without this*/
}
.sf-navbar LI LI
{
    background: #cabe57;
    position: relative;
}
.sf-navbar LI LI UL
{
    width: 13em;
}
.sf-navbar LI LI LI
{
    width: 100%;
}
.sf-navbar UL LI
{
    width: auto;
    float: left;
}
.sf-navbar A, .sf-navbar A:visited
{
    border: none;
}
.sf-navbar LI.current
{
    background: #cabe57;
}
.sf-navbar LI:hover, .sf-navbar LI.sfHover, .sf-navbar LI LI.current, .sf-navbar A:focus, .sf-navbar A:hover, .sf-navbar A:active
{
    background: #cabe57;
}
.sf-navbar UL LI:hover, .sf-navbar UL LI.sfHover, UL.sf-navbar UL LI:hover LI, UL.sf-navbar UL LI.sfHover LI, .sf-navbar UL A:focus, .sf-navbar UL A:hover, .sf-navbar UL A:active
{
    background: #cabe57;
}
UL.sf-navbar LI LI LI:hover, UL.sf-navbar LI LI LI.sfHover, .sf-navbar LI LI.current LI.current, .sf-navbar UL LI LI A:focus, .sf-navbar UL LI LI A:hover, .sf-navbar UL LI LI A:active
{
    background: #cabe57;
}
UL.sf-navbar .current UL, UL.sf-navbar UL LI:hover UL, UL.sf-navbar UL LI.sfHover UL
{
    left: 0;
    top: 2.5em;
/*match top ul list item height*/
}
UL.sf-navbar .current UL UL
{
    top: -999em;
}
.sf-navbar LI LI.current>A
{
    font-weight: normal;
}
/*** point all arrows down **
point right for anchors in subs*/
.sf-navbar UL .sf-sub-indicator
{
    background-position: -10px -100px;
}
.sf-navbar UL A>.sf-sub-indicator
{
    background-position: 0 -100px;
}
/*apply hovers to modern browsers*/
.sf-navbar UL A:focus>.sf-sub-indicator, .sf-navbar UL A:hover>.sf-sub-indicator, .sf-navbar UL A:active>.sf-sub-indicator, .sf-navbar UL LI:hover>A>.sf-sub-indicator, .sf-navbar UL LI.sfHover>A>.sf-sub-indicator
{
    background-position: -10px -100px;
/*arrow hovers for modern browsers*/
}
/*** remove shadow on first submenu ***/
.sf-navbar>LI>UL
{
    background: transparent;
    padding: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}
.calendar
{
    position: relative;
    display: none;
    border-top: 2px solid #FFF;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #FFF;
    font-size: 11px;
    color: #000;
    cursor: default;
    background: #D4D0C8;
    font-family: tahoma, verdana, sans-serif;
}
.calendar TABLE
{
    border-top: 1px solid #000;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #000;
    font-size: 11px;
    color: #000;
    cursor: default;
    background: #D4D0C8;
    font-family: tahoma, verdana, sans-serif;
}
.calendar .button
{
    text-align: center;
    padding: 1px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #FFF;
}
.calendar .nav
{
    background: transparent;
}
.calendar THEAD .title
{
    font-weight: bold;
    padding: 1px;
    border: 1px solid #000;
    background: #848078;
    color: #FFF;
    text-align: center;
}
.calendar THEAD .name
{
    border-bottom: 1px solid #000;
    padding: 2px;
    text-align: center;
    background: #F4F0E8;
}
.calendar THEAD .weekend
{
    color: #F00;
}
.calendar THEAD .hilite
{
    border-top: 2px solid #FFF;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #FFF;
    padding: 0;
    background-color: #E4E0D8;
}
.calendar THEAD .active
{
    padding: 2px 0 0 2px;
    border-top: 1px solid #000;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #000;
    background-color: #C4C0B8;
}
.calendar TBODY .day
{
    width: 2em;
    text-align: right;
    padding: 2px 4px 2px 2px;
}
.calendar TBODY .day.othermonth
{
    font-size: 80%;
    color: #AAA;
}
.calendar TBODY .day.othermonth.oweekend
{
    color: #FAA;
}
.calendar TABLE .wn
{
    padding: 2px 3px 2px 2px;
    border-right: 1px solid #000;
    background: #F4F0E8;
}
.calendar TBODY .rowhilite TD
{
    background: #E4E0D8;
}
.calendar TBODY .rowhilite TD.wn
{
    background: #D4D0C8;
}
.calendar TBODY TD.hilite
{
    padding: 1px 3px 1px 1px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #FFF;
}
.calendar TBODY TD.active
{
    padding: 2px 2px 0;
    border-top: 1px solid #000;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #000;
}
.calendar TBODY TD.selected
{
    font-weight: bold;
    border-top: 1px solid #000;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #000;
    padding: 2px 2px 0;
    background: #E4E0D8;
}
.calendar TBODY TD.weekend
{
    color: #F00;
}
.calendar TBODY TD.today
{
    font-weight: bold;
    color: #00F;
}
.calendar TBODY .disabled
{
    color: #999;
}
.calendar TBODY .emptycell
{
    visibility: hidden;
}
.calendar TBODY .emptyrow
{
    display: none;
}
.calendar TFOOT .ttip
{
    background: #F4F0E8;
    padding: 1px;
    border: 1px solid #000;
    background: #848078;
    color: #FFF;
    text-align: center;
}
.calendar TFOOT .hilite
{
    border-top: 1px solid #FFF;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #FFF;
    padding: 1px;
    background: #E4E0D8;
}
.calendar TFOOT .active
{
    padding: 2px 0 0 2px;
    border-top: 1px solid #000;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #000;
}
.calendar .combo
{
    position: absolute;
    display: none;
    width: 4em;
    top: 0;
    left: 0;
    cursor: default;
    border-top: 1px solid #FFF;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #FFF;
    background: #E4E0D8;
    font-size: 90%;
    padding: 1px;
    z-index: 100;
}
.calendar .combo .label, .calendar .combo .label-IEfix
{
    text-align: center;
    padding: 1px;
}
.calendar .combo .label-IEfix
{
    width: 4em;
}
.calendar .combo .active
{
    background: #C4C0B8;
    padding: 0;
    border-top: 1px solid #000;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #000;
}
.calendar .combo .hilite
{
    background: #048;
    color: #FEA;
}
.calendar TD.time
{
    border-top: 1px solid #000;
    padding: 1px 0;
    text-align: center;
    background-color: #F4F0E8;
}
.calendar TD.time .hour, .calendar TD.time .minute, .calendar TD.time .ampm
{
    padding: 0 3px 0 4px;
    border: 1px solid #889;
    font-weight: bold;
    background-color: #FFF;
}
.calendar TD.time .ampm
{
    text-align: center;
}
.calendar TD.time .colon
{
    padding: 0 2px 0 3px;
    font-weight: bold;
}
.calendar TD.time SPAN.hilite
{
    border-color: #000;
    background-color: #766;
    color: #FFF;
}
.calendar TD.time SPAN.active
{
    border-color: #F00;
    background-color: #000;
    color: #0F0;
}
#CP_hourcont
{
    padding: 0;
    position: absolute;
    border: 1px dashed #666;
    background-color: #EEE;
    display: none;
}
#CP_minutecont
{
    background-color: #DDD;
    padding: 1px;
    position: absolute;
    width: 45px;
    display: none;
}
.floatleft
{
    float: left;
}
.CP_hour
{
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    white-space: nowrap;
    cursor: pointer;
    width: 35px;
}
.CP_minute
{
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    white-space: nowrap;
    cursor: pointer;
    width: auto;
}
.CP_over
{
    background-color: #FFF;
}
.multiSelect
{
    width: 9.9em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 22px;
    padding: 0;
    margin: -0.05em 0 0;
    border: 0;
}
.multiSelect .title
{
    background-color: #FFF;
    border: 1px solid #999;
    padding: 0;
    margin: 0;
    cursor: default;
    min-width: 9.8em;
}
.multiSelect DIV.title
{
    position: absolute;
    z-index: 104;
}
.multiSelect DIV.title-open
{
    border-bottom: 1px solid #FFF;
}
.multiSelect .title
{
    font-size: 0.8em;
    height: 1.3em;
    line-height: 1.2em;
    overflow: hidden;
    padding: 0.3em 1.1em 0.1em 0.5em;
    background: #FFFFFF url(images/multiselect.gif) no-repeat top right;
}
.multiSelect .title:hover
{
    background: #FFFFFF url(images/multiselect-hover.gif) no-repeat top right;
}
.multiSelectContent
{
    position: absolute;
    z-index: 106;
    min-height: 1em;
    background: #E9F3F8;
    padding: 0.1em;
    display: block;
    font-size: 75%;
    margin-top: -1px;
    border: 1px solid #999;
}
.collapsed
{
    display: none;
}
.multiSelectContent UL
{
    overflow: auto;
    min-height: 1em;
    min-width: 20em;
    margin: 0;
    padding: 0;
}
.multiSelectContent LI
{
    cursor: pointer;
    cursor: hand;
    margin: 0 0 0.2em;
    list-style: none;
}
.multiSelectContent LI:hover
{
    background: #DDD;
}
.arc90_multiselect
{
    width: 12.5em;
    height: 1.35em;
    visibility: hidden;
}
.a9selectall
{
    border-bottom: 1px solid #CCC;
}
/*Styles for page layout*/
DIV.examples
{
    margin: 0 0 2em;
    width: 17em;
    border: 1px solid #E9E9E9;
    padding: 0.3em;
}
DIV.examples LABEL.examples
{
    display: block;
    margin: 0 0 0.2em;
}

a.headerlink {
    color: transparent;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    color: #c60f0f;
}


.checklist {
list-style: none;
padding-left: 30px;
margin-left: 10px;
}

.checklist, .checklist li { margin: 0; padding: 0; }
.checklist label:hover { background: #777; color: #fff; }

.checklist label {
//display: block;
//text-indent: 50px;
}

.checklist li {
margin-left: 20px;
//float: left;
}
.checklist li input {
margin-left: -20px;
//float: left;
}


/* Tweets */

#tweets ol {
  margin: 1em 0;
}

#tweets ol li {
  background: #cabe57;
  list-style: none;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em 0;
  border: 1px solid #aaa;
}

#tweets .entry-date {
  font-weight: bold;
  display: block;
}

/* button */


.sarazasaraza {
  background: #2370a8;
  color:#FFFFFF;
  list-style: none;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em 0;
  border: 1px solid #aaa;
}

/* MARKMIN WIKI */

#wiki ul li { line-height: 100%; margin-bottom: 0em;}
#wiki p, ul, ol {line-height: 120%; margin-bottom: 0em;}


/* TWITTER at index page */

#tweets ul {
  margin: 0.5em 0;
  padding: 0;
}

#tweets ul li {
  background: #cabe57;
  list-style: none;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #aaa;
  color: #7E0E10;
}

#tweets ul li p a{
    color: #052446;
}

#tweets .entry-date {
  font-weight: bold;
  display: block;
}

#tweets img {
float: left;
margin-top: 0.5 em;
margin-right: 0.5em;
}

#tweets h4 {
margin: 0;
padding: 0;
}

#tweets p {
margin: 0;
padding: 0;
min-height: 30px;
}

#l {
    display: block;
}

/* SPONSORS */

a.btn-sponsor {
    display: block;
    float: right;
    width: 139px;
    height: 51px;
    background: url(img/arrow_bg.png) no-repeat 0 0;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(76, 154, 172, 0.75);
    font-size: 80%;
    cursor: pointer;
    margin: 1em;
}

a.btn-sponsor span {
    display: block;
    padding: 9px 0 0 12px;
    line-height: 1.3em;
}

a.btn-sponsor:hover {
  background-position: 0 -51px;
}

 
/* <Pedro Guridi> fixes */
 
 
/* Table Sorter Style */
 
table.schedule {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}
table.schedule thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.schedule thead tr .header {
  background-image: url(img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}


 table.schedule tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
 }


 table.schedule tbody tr.odd td {
  background-color:#F0F0F6;
}


table.schedule thead tr .headerSortUp {
  background-image: url(img/asc.gif);
}
table.schedule thead tr .headerSortDown {
  background-image: url(img/desc.gif);
}
table.schedule thead tr .headerSortDown, table.schedule thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.schedule A {
  color: #333333;
}

table.schedule thead {
  color: #333333;
}


table.schedule td {
  color: #333333;
}


/* Schedule activity cells */

/*
Paleta PyConAr 2012 (incompleto)
tipografía amarillo claro: #aeab35
tipografía amarillo verdoso: #9c992f
fondo rojo: #7e0e10
encabezado  bandera celeste claro: #1d9ccb
encabezado azul decoración: #2b5593
*/

table.schedule tbody td.General.keynote{
background-color: #DCDCFF; /*#1d9ccb;*/
color: #2b5593;
}

table.schedule tbody td.Science.talk{
background-color: #ECFFFF; /*#9c992f;*/
color: #2b5593;
}

table.schedule tbody td.Extreme.extreme_talk{
background-color: #FDA; /*#E77471;*/
color: #2b5593;
}

table.schedule tbody td.General.talk{
background-color: #FFFCC9;
color: #2b5593;
}
