{{extend 'layout.html'}}
{{pd = db((db.auth_user.attendee_type!='non_attending')&(db.auth_user.amount_due==0.0)&(db.auth_user.confirmed==True)).count()}}
{{tot = db(db.auth_user.attendee_type!='non_attending').count()}}
<div class="frame">
<h1>{{=T('Conference Participants')}}</h1>
<table>
{{if pd>30:}}
<tr><td width="10px"/><td>
{{=T('%5d Pending Registrations',tot-pd)}}
</td></tr><tr><td width="10px"/><td>
{{=T('%5d Completed Registrations',pd)}}
</td></tr>
{{pass}}
<tr><td width="10px"/><td>
{{=T('%5d Total Paid and Pending Registrations',tot)}}
</td></tr>
</table>
<br/>
{{if not session.manager:}}
<i>{{=T("Here is a partial list of conference attendees, showing everyone who wished to make their attendance public.")}}</i>
{{else:}}<i>{{=T('Below is the complete list, as accessible to managers only.')}}</i>{{pass}}<br/><br/>
<table>
<tr><th width="200px">{{=T('Name')}}</th><th>{{=T('Company')}}</th>
{{if session.manager:}}<td><b>{{=T('Email')}}</b></td>{{pass}}
</tr>
{{for row in rows:}}
<tr>
<td>{{=A(row.first_name+' '+row.last_name,_href=row.personal_home_page)}}</td><td>{{=A(row.company_name,_href=row.company_home_page)}}</td>
</tr>
{{pass}}
</table>

</div>
